$calendarBackground = #101010
$calendarBorderColor = darken(#101010, 50%)

$monthForeground = #dbdbdb
$monthBackground = #101010

$weekdaysBackground = transparent
$weekdaysForeground = darken($monthForeground, 50%)

$dayForeground = alpha(white, 0.95)
$dayHoverBackground = lighten($calendarBackground, 25%)

$todayColor = darken($dayForeground, 25%)
$today_fg_color = $dayForeground

$selectedDayBackground = #009485

@require "../flatpickr"
