affine==2.3.1
attrs==21.4.0
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
click==8.1.2
click-plugins==1.1.1
cligj==0.7.2
cryptography==36.0.2
GDAL==3.4.2
imgcat==0.5.0
imutils==0.5.4
mercantile==1.2.1
numpy==1.22.3
opencv-python==4.5.5.64
packaging==21.3
pdfminer.six==20220319
Pillow==9.1.0
pycparser==2.21
pyparsing==3.0.8
PyPDF2==1.27.8
pyproj==3.3.1
pytesseract==0.3.9
rasterio==1.2.10
Shapely==1.8.1.post1
snuggs==1.4.7
