beautifulsoup4==4.10.0
bs4==0.0.1
camelot-py==0.10.1
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.11
click==8.0.3
colorlog==6.6.0
cryptography==36.0.1
et-xmlfile==1.1.0
ghostscript==0.7
idna==3.3
numpy==1.22.1
opencv-python==4.5.5.62
openpyxl==3.0.9
pandas==1.4.0
pdfminer.six==20211012
pdftopng==0.2.3
pycparser==2.21
PyPDF2==1.26.0
python-dateutil==2.8.2
pytz==2021.3
requests==2.27.1
six==1.16.0
soupsieve==2.3.1
tabulate==0.8.9
urllib3==1.26.8
xlsx2csv==0.7.8
