name: SOI Monitor Weekly Pull Run
on:
  workflow_run:
    workflows:
      - SOI Weekly Unavailable Pull Run
    types: [completed]

jobs:
  RetryTrigger:
    uses: ./.github/workflows/common-rerun-trigger.yml
    secrets: inherit
    with:
      alert-title: "SOI Unavailable Run Failed"
      num-attempts: 20
